#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        DoubleQuotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <7 2>;
        };
    };

    macros {
        mkp_exit_AML_1: mkp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&sl 4>;

            label = "MKP_EXIT_AML";
        };

        New_2: New {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(N)>;
            label = "NEW";
        };

        All_3: All {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A)>;
            label = "ALL";
        };

        Undo_4: Undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(Z)>;
            label = "UNDO";
        };

        Return_5: Return {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(LEFT)>;
            label = "RETURN";
        };

        seach_6: seach {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(F)>;
            label = "SEACH";
        };

        CloseTab_7: CloseTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RC(W)>;
            label = "CLOSETAB";
        };

        PreTab_8: PreTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RS(RC(TAB))>;
            label = "PRETAB";
        };

        NextTab_9: NextTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RC(TAB)>;
            label = "NEXTTAB";
        };

        MiniTab_10: MiniTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(DOWN)>;
            label = "MAXTAB";
        };

        MaxTab_11: MaxTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(UP)>;
            label = "MAXTAB";
        };

        AdvancePage_12: AdvancePage {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(RIGHT)>;
            label = "ADVANCEPAGE";
        };

        Cut_13: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(X)>;
            label = "CUT";
        };

        Copy_14: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
            label = "COPY";
        };

        Paste_15: Paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
            label = "PASTE";
        };

        Explorer_16: Explorer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(E)>;
            label = "EXPLORER";
        };

        Save_17: Save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(S)>;
            label = "SAVE";
        };

        Setting_18: Setting {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(I)>;
            label = "SETTING";
        };

        WindowLeft_19: WindowLeft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LEFT)>;
            label = "WINDOWLEFT";
        };

        WindowRight_20: WindowRight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(RIGHT)>;
            label = "WINDOWRIGHT";
        };

        Pass_21: Pass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp W &kp E &kp R &kp T &kp ENTER>;
            label = "PASS";
        };

        Newfolder_22: Newfolder {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N))>;
            label = "NEWFOLDER";
        };

        PreviousFolder_23: PreviousFolder {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(UP_ARROW)>;
            label = "PREVIOUSFOLDER";
        };

        Switching_24: Switching {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
            label = "SWITCHING";
        };

        YMM_Tab_25: YMM_Text_Shotcut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(TAB)>;
            label = "YMM_TEXT_SHOTCUT";
        };

        CtrlB_26: CtrlB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B)>;
            label = "CTRLB";
        };

        YMM_Group_27: YMM_Group {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(G)>;
            label = "YMM_GROUP";
        };

        YMM_TextItem_28: YMM_TextItem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB2 &kp J>;
            label = "YMM_TEXT";
        };

        YMM_SoundItem_29: YMM_SoundItem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB2 &kp A &kp ENTER>;
            label = "YMM_TEXT";
        };

        YMM_ImageItem_30: YMM_ImageItem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB2 &kp I>;
            label = "YMM_IMAGEITEM";
        };

        YMM_MovieItem_31: YMM_MovieItem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB2 &kp V>;
            label = "YMM_MOVIEITEM";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&Copy_14>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp L         &kp U      &kp COMMA             &kp PERIOD                                      &kp F        &kp W  &lt 5 R  &kp Y  &kp P
&kp E             &kp I         &kp A      &kp O                 &kp MINUS    &none                &kp ESCAPE    &kp K        &kp T  &kp N    &kp S  &kp H
&mt LEFT_SHIFT Z  &kp X         &kp C      &kp V                 &kp COLON    &kp EXCLAMATION      &kp QUESTION  &kp G        &kp D  &kp M    &kp J  &kp B
&kp LEFT_ALT      &kp LEFT_WIN  &kp LCTRL  &mt LEFT_SHIFT LANG2  &lt 2 LANG1  &kp BACKSPACE        &kp SPACE     &lt 1 ENTER                         &lt 2 RS(RG(S))
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        FUNCTION {
            bindings = <
&kp ESC       &kp F7          &kp F8     &kp F9          &kp F10                                      &kp MINUS     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS
&kp TAB       &kp F4          &kp F5     &kp F6          &kp F11  &trans             &kp KP_MULTIPLY  &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &mkp MB2
&trans        &kp UNDERSCORE  &kp F2     &kp F3          &kp F12  &trans             &none            &kp EQUAL     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH
&kp LEFT_ALT  &kp LEFT_WIN    &kp LCTRL  &kp LEFT_SHIFT  &trans   &kp BACKSPACE      &trans           &trans                                                  &Pass_21
            >;
        };

        NUM {
            bindings = <
&kp MINUS  &CtrlB_26          &kp UP_ARROW       &YMM_Tab_25        &kp PLUS                                       &kp CARET        &kp AMPERSAND      &kp RCTRL       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH  &kp LEFT_ARROW     &kp DOWN_ARROW     &kp RIGHT_ARROW    &kp ASTERISK  &none            &kp UNDERSCORE  &kp EXCLAMATION  &kp AT_SIGN        &kp HASH        &kp DOLLAR            &kp PERCENT
&none      &YMM_ImageItem_30  &YMM_SoundItem_29  &YMM_MovieItem_31  &kp PERIOD    &bootloader      &bootloader     &YMM_Group_27    &kp RIGHT_BRACKET  &kp LEFT_BRACE  &YMM_TextItem_28      &kp BACKSLASH
&trans     &trans             &trans             &trans             &trans        &trans           &trans          &trans                                                                    &kp PIPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))  &kp UP_ARROW    &kp LC(TAB)      &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &none            &trans          &none            &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans           &trans          &kp LEFT_SHIFT   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &none   &trans  &trans                      &none   &none     &lt 5 R   &none     &none
&trans  &none   &none   &none   &trans  &trans      &trans  &none   &mkp MB1  &mkp MB3  &mkp MB2  &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &none   &none     &none     &none     &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&Setting_18   &Switching_24  &Newfolder_22  &New_2      &PreviousFolder_23                                  &CloseTab_7      &PreTab_8        &none   &NextTab_9  &kp HOME
&Explorer_16  &Setting_18    &All_3         &kp DELETE  &seach_6            &trans          &trans          &Return_5        &AdvancePage_12  &trans  &Save_17    &kp END
&Undo_4       &Cut_13        &Copy_14       &Paste_15   &trans              &trans          &trans          &MaxTab_11       &MiniTab_10      &trans  &trans      &trans
&trans        &trans         &trans         &trans      &trans              &kp DELETE      &WindowLeft_19  &WindowRight_20                                       &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
